/*****************************
 *           MOBILE          *
 *****************************/
// IDs
#core-lists
  display: flex
  justify-content: space-around

  &-things
  &-people
    text-align: center
    width: 50%

  &-things-list
  &-people-list
    list-style: none

// Classes


/*****************************
 *          DESKTOP          *
 *****************************/
@media (orientation: landscape)
  // IDs


  // Classes
