/*****************************
 *           MOBILE          *
 *****************************/
// IDs
#core
  &-lists
    display: flex
    flex-wrap: wrap
    justify-content: space-around

    &-things
    &-people
      overflow: hidden
      text-align: center
      width: 50%

      & h3
        font-variant: small-caps

      & .input
        max-width: 70%


      &-list
        list-style: none
        padding-left: 0

  &-share
  &-results
    margin-top: 2em

  &-share
    text-align: center

    &-block
      padding-top: 2em

      &-title
        & strong
          color: green
          text-transform: uppercase

  &-results
    width: 100%

    &-button
      display: block
      margin: 0 auto

// Classes
#core
  &-results
    & .buddy
      font-size: 1.3em
      font-variant: small-caps
      font-weight: bold

      &:first-letter
        text-transform: uppercase

    & .thing
      &::after
        content: ","
        display: inline-block
        margin-right: .31em

      &:last-child
        &::after
          display: none

/*****************************
 *          DESKTOP          *
 *****************************/
@media (orientation: landscape)
  // IDs


  // Classes
