/*****************************
 *           MOBILE          *
 *****************************/
// IDs
#core
  position: relative

  &-reboot
    background-color: thistle
    border-color: thistle
    bottom: 0
    position: absolute
    right: 0

    &:hover
    &:focus
      border-bottom-color: darkorchid

  &-lists
    display: flex
    justify-content: space-around

    &-things
    &-people
      text-align: center
      width: 50%

    &-things-list
    &-people-list
      list-style: none

  &-share
    margin-top: 2em

// Classes


/*****************************
 *          DESKTOP          *
 *****************************/
@media (orientation: landscape)
  // IDs


  // Classes
