/*****************************
 *           MOBILE          *
 *****************************/
// Blocks
body
  background-color: rgb(218, 241, 218)

// IDs

// Classes
.button
  border-radius: 5px
  background-color: lightgreen
  border: 2px solid lightgreen
  padding: .5em 1em
  position: relative

  &:hover
    border-bottom-color: green
    cursor: pointer

/*****************************
 *          DESKTOP          *
 *****************************/
@media (orientation: landscape)
  // Blocks
