/*****************************
 *           MOBILE          *
 *****************************/
// IDs
#app
  background-color: lavender
  box-sizing: border-box
  margin: .5em auto
  max-width: 800px
  min-width: 304px
  padding: 2em


// Classes


/*****************************
 *          DESKTOP          *
 *****************************/
@media (min-width:768px)
  // IDs
  #app
    margin-top: 2em


  // Classes
