/*****************************
 *           MOBILE          *
 *****************************/
// IDs
#app
  background-color: lavender
  box-sizing: border-box
  margin: .5em auto
  max-width: 800px
  min-width: 304px
  padding: 2em

  &-title
    text-align: center

    &--sub
      display: block
      font-size: .6em
      font-weight: normal

      & span
        display: inline-block

// Classes


/*****************************
 *          DESKTOP          *
 *****************************/
@media (min-width:768px)
  // IDs
  #app
    margin-top: 2em


  // Classes
