/*****************************
 *           MOBILE          *
 *****************************/
// IDs


// Classes
.people
  &-name
    &--done
      position: relative

      &::before
        content: ""
        display: block
        position: absolute
        top: .5em
        left: -.1em
        border: 1px solid black
        animation: ray 1s both


/*****************************
 *          DESKTOP          *
 *****************************/
@media (orientation: landscape)
  // IDs


  // Classes



/*****************************
 *        ANIMATIONS         *
 *****************************/
@keyframes ray
  0%
    width: 0

  100%
    width: 110%
