/*****************************
 *           MOBILE          *
 *****************************/
// IDs


// Classes
.people
  &-name
    &--done
      text-decoration: line-through


/*****************************
 *          DESKTOP          *
 *****************************/
@media (orientation: landscape)
  // IDs


  // Classes
