/*****************************
 *           MOBILE          *
 *****************************/
// IDs
#core
  &-lists
    &-block
      display: flex
      flex-wrap: wrap
      justify-content: space-around

      &-things
      &-people
        overflow: hidden
        text-align: center
        width: 50%

        & h3
          font-variant: small-caps

        & .input
          max-width: 70%


        &-list
          list-style: none
          padding-left: 0

// Classes


/*****************************
 *          DESKTOP          *
 *****************************/
@media (min-width: 768px)
  // IDs


  // Classes
