/*****************************
 *           MOBILE          *
 *****************************/
// IDs
#app
  &-footer
    margin-top: 3em
    text-align: center

    &-buttons
      align-items: flex-start
      display: flex
      flex-wrap: wrap
      justify-content: flex-end
      margin-bottom: 2em
      width: 100%

      & .button
        margin: .5em
        background-color: thistle
        border-color: thistle

        &:hover
        &:focus
          border-bottom-color: darkorchid

    &-text
      display: flex
      font-size: .9em
      font-style: italic
      justify-content: space-around

// Classes


/*****************************
 *          DESKTOP          *
 *****************************/
@media (orientation: landscape)
  // IDs


  // Classes
