/*****************************
 *           MOBILE          *
 *****************************/
// IDs
#app
  &-footer
    margin-top: 5em
    text-align: center

    &-buttons
      width: 100%
      display: flex
      justify-content: flex-end

      & .button
        margin-left: 1em
        background-color: thistle
        border-color: thistle

        &:hover
        &:focus
          border-bottom-color: darkorchid

    & hr
      margin-top: 3em

    &-text
      display: flex
      font-size: .9em
      font-style: italic
      justify-content: space-around

// Classes


/*****************************
 *          DESKTOP          *
 *****************************/
@media (orientation: landscape)
  // IDs


  // Classes
