/*****************************
 *           MOBILE          *
 *****************************/
// IDs
#core
  &-share
    margin-top: 2em

    &-go
      display: block
      margin: 0 auto

    &-block
      &-title
        & strong
          color: green
          text-transform: uppercase

      &-button
        display: block
        margin: 0 auto

// Classes


/*****************************
 *          DESKTOP          *
 *****************************/
@media (min-width: 768px)
  // IDs


  // Classes
